<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <main>
        <div class="login_img">
            <img src="/images/login-img.svg">
        </div>
        <div class="login_div">
            <div class="login_form">
                <form action="<% if(pageTitle === 'Sign Up') { %>/signup<% } else { %>/login<% } %>" method="POST">
                    <h1>Welcome!</h1>
                    <label for="email_add">Email Address</label><br>
                    <input type="text" id="email_add" name="email"><br>
                    <label for="password">Passsword</label><br>
                    <input type="text" id="password" name="password"><br>
                    <input class="submit-button" type="submit" value="<% if(pageTitle === 'Sign Up') { %>Sign Up <% } else { %> Sign In <% } %>">
                    <% if (pageTitle === 'Admin Login') { %>
                        <input type="hidden" name="role" value="admin">
                    <% } else { %> 
                        <input type="hidden" name="role" value="user">
                    <% } %>
                    <% if (pageTitle === 'Sign Up') { %>
                        <h5>Already have an account? <a href="/">Sign In</a></h5>
                    <% } else { %>
                        <h5>Don't have an account? <a href="/signup">Sign Up</a></h5>
                    <% } %>
                    <% if (pageTitle !== 'Admin Login') { %>
                        <h5>Sign In as <a href="/admin-signin">Admin</a></h5>
                    <% } %>
                </form>
            </div>
        </div>
    </main>
</body>
</html>