<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <main>
        <div class="login_img">
            <img src="/images/login-img.svg">
        </div>
        <div class="login_div">
            <div class="login_form">
                <form action="" method="POST">
                    <h1>Welcome!</h1>
                    <label for="email_add">Email Address</label><br>
                    <input type="text" id="email_add" name="email_id"><br>
                    <label for="password">Passsword</label><br>
                    <input type="text" id="password" name="password"><br>
                    <input type="submit" value="Sign In">
                    <h5>Don't have an account? <a href="">Sign up</a></h5>
                </form>
            </div>
        </div>
    </main>
</body>
</html>